<div class="container text-center text-white mt-2">
<div class="card bg-secondary mx-auto" style="width: 25rem;">
    <img src="https://img.icons8.com/small/96/000000/nodejs.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Welcome</h3>
      <div class="d-grid gap-2 col-6 mx-auto mb-3">
        <a href="/user/register" class="btn btn-danger">Register</a>
        <a href="/user/login" class="btn btn-danger">Login</a>
      </div>
    </div>
</div>
</div>